.title {
  text-align: center;
}

.protein-folding-params {
  border: solid black 1px;
  float: left;
  padding: 10px;
  margin: 20px;
}

.protein-folding-stage {
  border: solid black 1px;
  float: right;
  margin: 20px;
}

.red-color-span {
  color: red;
}

.green-color-span {
  color: green;
}

.blue-color-span {
  color: blue;
}

.btn {
  padding: 20px;
  margin: 4px;
}

.rotate-btn {
  padding: 20px;
  margin: 4px;
  font-size: xx-large;
}
