.title {
  text-align: center;
}

.folding-stage-container {
  display: flex;
}

.params-panel {
  border: solid black 1px;
  padding: 10px;
  margin: 6px;
}

.folding-stage {
  border: solid black 1px;
  margin: 6px;
}

.control-buttons {
  text-align: center;
  border-bottom: solid black 1px;
  padding: 6px;
}

.btn {
  padding: 8px;
  margin-top: 10px;
}

.control-btn {
  padding: 20px;
  margin: 4px;
  font-size: xx-large;
}

.red-color-span {
  color: red;
}

.green-color-span {
  color: green;
}

.blue-color-span {
  color: blue;
}
