.protein-stage {
  border: solid black 1px;
  float: right;
  margin-right: 20px;
}

.params-container {
  border: solid black 1px;
  float: left;
  padding: 10px;
}

h1 {
  text-align: center;
}

.red-color-span {
  color: red;
}

.green-color-span {
  color: green;
}

.blue-color-span {
  color: blue;
}