h1 {
  text-align: center;
}

.checkbox {
  margin: 2px;
  padding: 2px;
}

.protein-folding-stage {
  border: solid black 1px;
  float: right;
  margin-right: 20px;
}

.protein-folding-params {
  border: solid black 1px;
  float: left;
  padding: 10px;
}

.red-color-span {
  color: red;
}

.green-color-span {
  color: green;
}

.blue-color-span {
  color: blue;
}

.btn {
  padding: 10px;
  margin: 4px;
}